body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;

  width: 100%;
  margin: 0 auto;
}

.lastPoint {
  font-weight: 600;
  font-size: 1rem;
}

iframe {
  width: 500px;
  height: 300px;
}
@media (max-width: 900px) {
  iframe {
    width: 500px;
  }
}

@media (max-width: 550px) {
  iframe {
    width: 400px;
  }
}

@media (max-width: 410px) {
  iframe {
    width: 340px;
  }
}
.sliderFrame {
  max-width: 1400px;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 7em;
  z-index: 1;
}

@media (max-width: 750px) {
  .sliderFrame {
    width: 90%;
    margin-bottom: 5em;
  }
}

.newsFrame {
  margin-bottom: 3em;
}

.man {
  margin-top: 5em;
}

.headertext {
  font-size: 1.2rem;
  align-self: center;
  margin-left: 0.5em;
}
@media (max-width: 800px) {
  .headertext {
    display: none;
  }
}
.LfooterFrame {
  width: 30%;
}

.modalBackground {
  background-color: rgba(200, 200, 200);
  position: fixed;
  color: #6b8299;
  max-width: 500px;
  background: white;
  position: fixed;
  right: 120px;
  top: 56px;
  z-index: 1000;
  width: 25%;
  box-shadow: 2px 1px 5px 2px grey;
}

@media (max-width: 900px) {
  .modalBackground {
    right: 5%;
    width: 90%;
  }
}

.Cbtn {
  width: 90%;
  border-radius: 0.6em;
  font-size: 1.1rem;
  justify-content: center;
  margin: 0.5em auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: 8px;
  padding: 16px;
  cursor: pointer;
  line-height: 1;
  white-space: nowrap;
  font-weight: normal;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 6px 0px;
  background: rgb(255, 255, 255);
  border: 1px solid transparent;
  color: rgb(0, 0, 0);
}

.Cbtn:hover {
  background: #6b8299;
  color: white;
}
.discled {
  opacity: 0.5;
}
.disabled :hover {
  cursor: none;
  background: "";
}

.walletIcon {
  width: 10%;
  margin-right: 0.1em;
}
.all {
  margin: 5em auto;
}

.secA {
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
}

.firstp,
.TtaskInfo,
.secfd {
  text-align: center;
  margin: 0 auto;
  padding: 1em;
  text-align: start;
  line-height: 1.8;
}

/* .TtaskInfo{
  max-width: 1000px;
  background-color: red;
} */
@media (min-width: 500px) {
  .image {
    width: 50%;
  }
}
@media (min-width: 700px) {
  .image {
    width: 60%;
  }
  .secA {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .image {
    width: 80%;
  }
  .featuresdnp {
    width: 50%;
     
  }
}

.dnp {
  display: flex;
}

iframe {
  margin-top: 2em;
}
.features {
  margin-left: 1em;
}

.strong {
  margin-right: 0.3em;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: #1dbf73;
}

.secCP :last-child {
  max-width: 500px;
  text-align: start;
}
.secfd {
  max-width: 600px;
  margin: 1.3em auto;
}

.dnp {
  align-items: center;
  text-align: start;
  margin: 0.5em auto;
}
.dnp > div {
  width: 100%;
}
.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #1dbf73;
  display: inline-block;
  margin-right: 0.5em;
}

.tokenomics div {
  line-height: 1.8;
  padding: 1em;
  text-align: start;
}

.roadMap {
  padding: 1em;
}

@media (max-width: 700px) {
  .tokenomics {
    flex-direction: column;
  }
  .firstp,
  .TtaskInfo,
  .secfd {
    max-width: 600px;
  }
}

@media (min-width: 700px) {
  .secA,
  .secCP,
  .tokenomics,
  .roadMap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em auto;
    padding: 2em;
    max-width: 1120px;
  }
  .tokenomics,
  .secCP {
    justify-content: space-around;
  }

  .image {
    max-width: 30%;
  }
  .firstp,
  .TtaskInfo,
  .secfd {
    max-width: 700px;
    font-size: larger;

    text-align: start;
  }
  .TtaskInfo {
    max-width: 1000px;
  }
  .secBChildren {
    margin-top: 2em;
  }
  .secB {
    margin: 5em;
  }

  .secE {
    margin-bottom: 10em;
  }
  .secA {
    gap: 6em;
    height: 70vh;
  }
  .firstp{
    font-size: x-large;
  }

  .ff{
    height: 50vh;
   
  }

  h1 {
    font-weight: 900;
    margin: 0 auto;
    width: 500px;
    text-align: center;
  }
}

/* @media (max-width: 700px) {
  .secA,
  .secB,
  .secC,
  .secCP,
  .tokenomics,
  .secBChildren,
  .roadMap {
    flex-direction: column;
    gap: 0;
  }

  .firstp,
  .TtaskInfo {
    margin: 0.5em;
    text-align: center;
  }
  .TtaskInfo {
    width: 90%;
  }
  .points {
    padding: 1em;
  }

  .image {
    width: 40%;
  }
}
  */
