body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

.App {
  text-align: center;

  margin: 0 auto;
}

.headertext {
  font-size: 1.2rem;
  align-self: center;
  margin-left: 0.5em;
}
@media (max-width: 800px) {
  .headertext {
    display: none;
  }
}
.LfooterFrame {
  width: 30%;
}

/* taskio */

.all {
  margin: 0 auto;
}

/* section A */

.green {
  color: #1dbf73;
}
.secA {
  margin: 0 auto;
  padding: 1em;
  margin-top: 4em;
  max-width: 1200px;
}
.image {
  max-width: 300px;
}

@media (max-width: 400px) {
  .image {
    max-width: 250px;
  }
}
.secAChildren > img {
  display: none;
}
.motto {
  font-size: 3rem;
  line-height: 1;
  max-width: 600px;
  margin: 0 auto;
  font-weight: bold;
  text-align: start;
}

@media (min-width: 600px) {
  .motto {
    margin: 0;
    max-width: 300px;
  }
}
@media (min-width: 900px) {
  .firstImage {
    max-width: 500px;
  }
  .secA {
    max-width: 1200px;
    height: 100%;
  }
  .secAChildren {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-top: 5em;
    align-items: center;
  }
  .secAChildren > img {
    display: flex;
  }
}
@media (min-width: 1120px) {
  .firstImage {
    max-width: 700px;
  }
}

.firstp {
  text-align: start;
  line-height: 1.7;
  font-size: 1.1rem;
  max-width: 600px;
}
@media (min-width: 600px) {
  .firstp {
    max-width: 600px;
  }
}

/* sectionB */
.B {
}

.secB {
  margin: 0 auto;
  padding: 0.5em;
  max-width: 1200px;
}
.sectionBChild {
  border: rebeccapurple solid;
  box-shadow: 2px 2px 10px;
  margin-top: 2em;
}
.secB > h1 {
  font-size: bold;
}
.TtaskInfo {
  text-align: start;
  line-height: 1.5;
  font-size: 1rem;
  padding-left: 0.5em;
  font-family: "Open Sans", sans-serif;
  max-width: 600px;
}

@media (min-width: 650px) {
  .sectionBDetails {
    width: 100%;
  }
  .sectionBChild {
    border: rebeccapurple solid 1px;
    box-shadow: 2px 2px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2em;
    align-items: center;
    max-width: 1200px;
  }
}

@media (min-width: 900px) {
  .image {
    max-width: 500px;
  }
  .secB {
    max-width: 1200px;
    margin-top: 0;
  }
  .sectionBChild {
    padding: 3em;
  }

  .TtaskInfo {
    max-width: 600px;
    line-height: 1.9;
    width: 100%;
    margin: 0 1em;
    font-size: 1rem;
  }
}
/* section c */

.secC {
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
}
.features {
  margin-bottom: 2em;
}
iframe {
  width: 95%;
  border: rebeccapurple solid;
  box-shadow: 2px 2px 10px;
}
.secC > h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
.secp {
  text-align: start;
  max-width: 600px;
  margin: 0 auto;
}
.icon {
  height: 15px;
  width: 15px;
  background-color: #1dbf73;
  border-radius: 50%;
  color: white;
  display: inline;
}
.dnp {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0 auto;
  width: 70%;
}

@media (min-width: 550px) {
  .secCFAndVid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
  }

  iframe {
    width: 50%;
  }
  .secp {
    margin-bottom: 2em;
  }
  .secp,
  .features {
    font-size: 1.2rem;
  }
}
@media (min-width: 900px) {
  .secC {
    padding: 3em;
  }
}

/* section D */
.secD {
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
}
.secD > h1 {
  margin-bottom: 1.5em;
}
.tokenDetails {
  text-align: start;
  padding: 1em;
  margin: 2em;
  height: fit-content;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@media (min-width: 700px) {
  .sectionDChildren {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
}

/* section E */
.Neon {
}
.secE {
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
}
.tokenDetails > p {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
@media (min-width: 600px) {
  .secE {
    padding: 2em;
  }
  .secEChildren {
    display: flex;
    flex-wrap: wrap;
  }
  .roadmappoints {
    margin: 0 auto;
  }
}

/* extras */
strong {
  font-size: 1.5rem;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #1dbf73;
}
a:hover {
  color: blue;
}
.menu {
  height: 2rem;
  width: 3rem;
  color: #1dbf73;
}
@media (min-width: 901px) {
  .menu {
    display: none;
  }
}

/* animations */
.image,
.firstImage,
.tokenDetails,
.TtaskInfo {
  transition: transform 2s ease;
}
.image:hover,
.firstImage:hover,
.TtaskInfo:hover {
  transform: scale(1.2);
}
.tokenDetails:hover {
  transform: scale(1.1);
}

.imagesec {
  max-width: 300px;
}
.all {
  position: relative;
}

.modal {
  position: absolute;
  top: 3.5rem;
  right: 0;
  background-color: #18273d;
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.modal > a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #1dbf73;
  height: 50%;
  margin: 0 auto;
  gap: 0.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkIcon {
  height: 40px;
}

.comingSoon {
  font-family: "Poppins", sans-serif;

  font-size: 3rem;
  text-align: center;
  margin-top: 2em;
}
@media (max-width: 900px) {
  .comingSoon {
    padding: 3rem;
    font-size: 1.2rem;
    margin-top: 5em;
  }
}
