body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

.App {
  text-align: center;

  margin: 0 auto;
}

.headertext {
  font-size: 1.2rem;
  align-self: center;
  margin-left: 0.5em;
}
@media (max-width: 800px) {
  .headertext {
    display: none;
  }
}
.LfooterFrame {
  width: 30%;
}

/* taskio */

.all {
  margin-top: 3em;
}

.secA,
.secAChildren,
.secB,
.secCFAndVid,
.sectionBChild,
.sectionDChildren,
.secE,
.secEChildren {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.secA > h1,
.secB > h1,
.secC > h1,
.secD > h1,
.secE > h1 {
  order: -1;
  text-align: center;
  font-weight: bold;
  margin: 1em auto;
  width: fit-content;
}

.firstp,
.TtaskInfo,
.secfd,
.secC > p,
.text,
.roadMap,
.tokenomics {
  text-align: left;
  padding: 1em;
  max-width: 600px;
  line-height: 1.9em;
  font-size: 16px;
}

.secEChildren {
  max-width: 490px;
}
.points {
  width: fit-content;
  padding: 1em;
}

.dnp {
  display: flex;
}
.dnp > div {
  width: fit-content;
}

.icon {
  background-color: #1dbf73;
  color: white;
  border-radius: 50%;
  height: 15px;
  margin-right: 0.5em;
  display: inline;
}
.tokenDetails {
  text-align: start;
}

/* breakpoints */
@media (min-width: 500px) {
  .image {
    width: 50%;
  }
}
@media (min-width: 700px) {
  .image {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .image {
    width: 80%;
  }
}

iframe {
  margin-top: 2em;
  width: 90%;
}

.strong {
  margin-right: 0.3em;
  font-weight: bold;
  font-size: large;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: #1dbf73;
}

.dnp {
  align-items: center;
  text-align: start;
  margin: 0.5em auto;
}

/* Desktop */
@media (min-width: 700px) {
  .secA {
    margin-right: 4em;
    margin-left: 4em;
  }
  iframe {
    margin-top: 2em;
    width: 40%;
  }

  .secAChildren,
  .secC,
  .secCFAndVid,
  .sectionBChild,
  .secD,
  .sectionDChildren,
  .secEChildren {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1120px;
    text-align: center;
  }

  .secEChildren {
    width: 100%;
  }
  .secC > p {
    text-align: start;
    max-width: 600px;
    margin: 0 auto;
  }
  .secCFAndVid {
    align-items: center;
  }

  .secCFAndVid {
    display: flex;
    justify-content: space-between;
  }

  .image {
    max-width: 25%;
  }
  .firstp,
  .TtaskInfo,
  .secfd {
    width: 100%;
    font-size: larger;
    text-align: start;
    max-width: 0 auto;
  }

  .secBChildren {
    margin-top: 2em;
  }
  .secB {
    margin: 5em;
  }

  .secE {
    margin-bottom: 10em;
  }
}
